
body {
    height: 100vh;
    width: 100vw;
    background-color: #9ea5b4;
    display: grid;
    place-items: center;
    padding-top: 50px;

}

.input-bar {
    height: 60px;
    width: 225px;
    border: 0;
    font-family: "Roboto";
    font-size: 26px;
}

.button {
    height: 60px;
    width: 75px;
    color: white;
    background-color: #1a1c1a;
    text-align: center;
    border: 0;
}

.clear-button {
    background-color: #4ec299;
}

.operator_button {
    background-color: #696e6a;
}